%p#notice= notice

= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@precinct.latitude}%2C#{@precinct.longitude}"

%p
  %b Number:
  = @precinct.number
%p
  %b Description:
  = @precinct.description

%p
  %b Location:
  = @precinct.location

= link_to 'Edit', edit_precinct_path(@precinct)
\|
= link_to 'Back', precincts_path
