= javascript_include_tag "https://www.google.com/jsapi"
-vote_data = @precinct.votes.map{|x| ["#{x.candidate.name}", x.votes]}

%script{:type=>"text/javascript"}
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
  var data = google.visualization.arrayToDataTable(
  =raw(vote_data)
  );

  var options = {
  title: 'Votes by Candidate'
  };

  var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
  chart.draw(data, options);
  }

%p#notice= notice

.row
  .span6
    %p
      %b Precinct Number:
      = @precinct.number
    %p
      %b Description:
      = @precinct.description

    %p
      %b Location:
      = @precinct.location
    %table.table.table-striped
      %tr
        %th Candidate
        %th Votes

      - @precinct.votes.each do |vote|
        %tr
          %td= vote.candidate.name
          %td= vote.votes
    %p
      %b Total Votes:
      = @precinct.votes.sum(:votes)
  .span6
    #chart_div{:style => "width:460px;height:350px"}
%br
- if user_signed_in?
  = link_to 'Edit', edit_precinct_path(@precinct)
\|
= link_to 'Back', precincts_path
