%p#notice= notice

= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@precinct.latitude}%2C#{@precinct.longitude}"

%p
  %b Number:
  = @precinct.number
%p
  %b Description:
  = @precinct.description

%p
  %b Location:
  = @precinct.location

%table
  %tr
    %th Candidate
    %th Votes

  - @precinct.votes.each do |vote|
    %tr
      %td= vote.candidate.name
      %td= vote.votes

- if user_signed_in?
  = link_to 'Edit', edit_precinct_path(@precinct)
\|
= link_to 'Back', precincts_path
