%p#notice= notice

%p
  %b Name:
  = @candidate.name

%p
  Votes by precinct

%table.table.table-striped
  %tr
    %th Precinct
    %th Votes
    %th
    %th

  - @candidate.votes.each do |vote|
    %tr
      %td= vote.precinct_id
      %td= vote.votes



- if user_signed_in?
  = link_to 'Edit', edit_candidate_path(@candidate)
\|
= link_to 'Back', candidates_path
