= form_for @vote do |f|
  -if @vote.errors.any?
    #error_explanation
      %h2= "#{pluralize(@vote.errors.count, "error")} prohibited this vote from being saved:"
      %ul
        - @vote.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :precinct_id
    = f.select(:precinct_id, Precinct.all.collect {|p| [ p.precinct_full, p.id ] }, {:include_blank => false})
  %table
    %th Candidate
    %th Votes
    - @candidates.each do |candidate|
      %tr
        %td
          = label_tag candidate.name
        %td
          = f.text_field :votes
  .actions
    = f.submit 'Save'
