%p#notice= notice

%p
  %b Precint:
  = @vote.precint_id
%p
  %b Candidate:
  = @vote.candidate_id
%p
  %b Votes:
  = @vote.votes

= link_to 'Edit', edit_vote_path(@vote)
\|
= link_to 'Back', votes_path
