%p#notice= notice

%p
  %b Precinct:
  = @vote.precinct.number
%p
  %b Candidate:
  = @vote.candidate.name
%p
  %b Votes:
  = @vote.votes

- if user_signed_in?
  = link_to 'Edit', edit_vote_path(@vote)
\|
= link_to 'Back', votes_path
